{% load catalog_tags %}
{% load static %}
{% load catalog_filters %}

<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'catalog:home' %}"><img src="{% static "img/logo.png" %}" title="Skystore - software hub"></a>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'catalog:home' %}">{% if request.path == '/' %}<strong class="text-primary">Каталог</strong>{% else %}Каталог{% endif %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'catalog:post_list' %}">{% if request.path == '/blog/' %}<strong class="text-primary">Блог</strong>{% else %}Блог{% endif %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'catalog:contacts' %}">{% if request.path == '/contact/' %}<strong class="text-primary">Контакты&nbsp;&nbsp;&nbsp;&nbsp;</strong>{% else %}Контакты&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="{% if perms.catalog.management_category or perms.management_posts %}{% url 'users:user_posts' %}
                {% else %}{% url 'users:user_products' %}{% endif %}">{% if request.path == '/account/posts/' or request.path == '/account/products/' %}<strong class="text-primary">
                  <img src="{% static "img/house-door.svg" %}"> Личный кабинет</strong>{% else %}
                  <img src="{% static "img/house-door.svg" %}"> Личный кабинет{% endif %}</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link disabled" >{% getphone %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" >{% getemail %}</a>
            </li>
        </ul>
      <ul class="d-flex">
          {% if not user.is_authenticated %}
            <a class="p-2 btn btn-outline-dark w-30 float-end mt-2" href="{% url 'users:login' %}"><strong>Войти</strong></a>
          {% else %}
              <a class="p-2 btn btn-outline-dark w-30 float-end mt-2" href="{% url 'users:logout' %}"><strong>Выйти</strong></a>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>


