{% extends 'catalog/base.html' %}

{% block content %}

<head>
  <title>Спасибо за вопрос разработчику!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<div style="min-height:50vh" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3 class="display-4">Спасибо за вопрос разработчику!</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="lead">В ближайшее время он с Вами свяжется и ответит на все Ваши вопросы</p>
                <div class="row">
                    {% if not request.META.HTTP_REFERER %}
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <a class="p-2 btn btn-outline-primary w-50" href="{% url 'catalog:home' %}">
                                <strong>Вернуться на главную</strong>
                            </a><br>
                        </div>
                    {% else %}
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <a class="p-2 btn btn-outline-primary w-50" href="{{ request.META.HTTP_REFERER }}">
                                <strong>Вернуться назад</strong>
                            </a><br>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}