{% load static %}

<div class="col-lg-3 col-md-12 col-sm-12">
        <div class="card border-warning mb-5">
            {% if not user.avatar %}
                {% if user.gender == 'женский' %}
                    <img src="{% static 'img/womannoimage.png' %}" class="card-img-top">
                {% else %}
                    <img src="{% static 'img/usernoimage.jpg' %}" class="card-img-top">
                {% endif %}
            {% elif user.avatar %}
                <img src="{{ user.avatar.url }}" class="card-img-top">
            {% endif %}
        {% if not perms.catalog.moderating_products and not perms.catalog.management_category and not perms.catalog.management_posts %}
            {% if not user.trials_update_range_prod %}
                <div class="card-header text-center text-bg-warning">
                    <a class="btn btn-lg btn-block btn-outline-dark w-75" href="{% url 'users:order_trials' %}">
                        <strong>Заказать PushTop</strong>
                    </a>
                </div>
            {% endif %}
        {% if not user.first_name or not user.last_name or not user.phone or not user.country or not user.stack %}
          <div class="card-header text-center text-bg-danger">
              <p>Заполните профиль - это повысит доверие посетителей Skystore</p></div>
            {% elif not user.avatar %}
            <div class="card-header text-center text-bg-danger">
                <p>Загрузите фото - это повысит доверие посетителей Skystore</p></div>
        {% endif %}
        {% endif %}
        <div class="card-header td-table-info border-1 mx-0">
            <div class="container px-0">
                <strong>{% if not user.first_name or not user.last_name %}<span class="text-danger">Укажите</span>{% endif %}
                            {% if user.first_name %}{{ user.first_name }}{% else %}<span class="text-danger">имя</span>{% endif %}
                            {% if user.last_name %}{{ user.last_name }}{% else %}<span class="text-danger">фамилию</span>{% endif %}
            </strong>
            </div>
        </div>
        <div class="card-header td-table-info border-1 mx-0">
            <div class="container px-0">{% if not user.stack %}<strong><span class="text-danger">Стэк не указан</span></strong>
                                {% else %}<span><strong>Стэк: </strong>{{ user.stack }}</span>{% endif %}
              </div>
        </div>
          <div class="card-body border-0 px-0 py-0">
            <table class="table table-info my-0">
                <tbody>
                    <tr>
                        <td class="col-3">Email:</td>
                        <td class="col-9">{{ user.email|truncatechars:14 }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Пол:</td>
                        <td class="col-9 {% if not user.gender %}table-danger{% endif %}">{% if not user.gender %}Не указано {% else %}{{ user.gender }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Тел:</td>
                        <td class="col-9 {% if not user.phone %}table-danger{% endif %}">{% if not user.phone %}Не указано {% else %}{{ user.phone }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Страна:</td>
                        <td class="col-9 {% if not user.country %}table-danger{% endif %}">{% if not user.country %}Не указано {% else %}{{ user.country }}{% endif %}</td>
                    </tr>
                    </tbody>
            </table>
          </div>
            <p class="text-center mt-2"><a class="dark-link" href="{% url 'users:change_password' %}"><strong>Сменить пароль</strong></a></p>
          <div class="card-footer text-bg-warning">
             <a class="p-1 btn btn-outline-dark w-100" href="{% url 'users:edit_profile' %}"><strong>Редактировать профиль</strong></a>
          </div>
        </div>
    </div>