{% load static %}

        <div class="card mb-4 box-shadow border-warning mx-3">
                <div class="card-header text-bg-warning">
                    <div class="row">
                        <div class="col-8">
                             <strong>{{ user.email|truncatechars:15 }}</strong><br>
                        <strong>{% if not user.first_name or not user.last_name %}<span class="text-danger">Укажите</span>{% endif %}
                            {% if user.first_name %}{{ user.first_name }}{% else %}<span class="text-danger">имя</span>{% endif %}
                            {% if user.last_name %}{{ user.last_name }}{% else %}<span class="text-danger">фамилию</span>{% endif %}</strong>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                <a class="img-fluid" href="{% url 'users:edit_profile' %}"><img class="img-fluid" src="{% static 'img/pencil.png' %}"></a>
                            </div>
                            <div class="col-6">
                                  <a class="img-fluid" href="{% url 'users:change_password' %}"><img class="img-fluid" src="{% static 'img/password.png' %}"></a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 py-0">
                    <table class="table table-striped table-info my-0">
                        <tbody>
                            <tr>
                                <td class="{% if not user.gender %}table-danger{% endif %}">{% if not user.gender %}Пол не указан {% else %}<strong>Пол: </strong>{{ user.gender }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td class="{% if not user.phone %}table-danger{% endif %}">{% if not user.phone %}Телефон не указан {% else %}<strong>Телефон: </strong>{{ user.phone }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td class="{% if not user.country %}table-danger{% endif %}">{% if not user.country %}Страна не указана {% else %}<strong>Страна: </strong>{{ user.country }}{% endif %}</td>
                            </tr>
                             <tr>
                                <td class="{% if not user.stack %}table-danger{% endif %}">{% if not user.stack %}Стэк не указан {% else %}<strong>Стэк: </strong>{{ user.stack }}{% endif %}</td></tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% if not perms.catalog.moderating_products and not perms.catalog.management_category and not perms.catalog.management_posts %}
                {% if not user.first_name or not user.last_name or not user.phone or not user.country or not user.stack %}
                    <div class="card-body text-bg-danger text-center">
                        <span>Заполните профиль - это повысит доверие посетителей Skystore</span>
                    </div>
                    {% elif not user.avatar %}
                    <div class="card-body text-bg-danger text-center">
                        <span>Загрузите фото - это повысит доверие посетителей Skystore</span>
                    </div>
                {% endif %}
                    {% if not user.trials_update_range_prod %}
                    <div class="card-body text-center text-bg-warning">
                        <a class="btn btn-lg btn-block btn-outline-dark w-75" href="{% url 'users:order_trials' %}">
                            <strong>Заказать PushTop</strong>
                        </a>
                    </div>
                    {% endif %}
                {% endif %}
            </div>

