{% extends 'catalog/base.html' %}

{% block content %}
    {% load static %}
    {% load users_filters %}
    {% load user_agents %}

    <head>
      <title>Категории портала</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    {% if not request|is_mobile %}

<div class="container">
    <div class="row">

        {% include 'users/includes/menu_profile.html' %}

        <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="card border-0 mb-5">
                <div class="card-header text-center px-0 py-0">
                    <div class="row text-bg-success px-0 mx-0">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <nav class="nav flex-column">
                                <ul class="nav nav-tabs pt-2 pb-0">
                                      <li class="nav-item">
                                        <a class="nav-link white-link" href="{% url 'users:user_posts' %}">Публикации</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{% url 'users:categories_for_content_manager' %}"><strong>Категории</strong></a>
                                      </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <a class="p-1 btn btn-outline-light w-75 my-2" href="{% url 'catalog:create_category' %}"><strong>Добавить категорию</strong></a>
                        </div>
                    </div>
                </div>
                {% if object_list %}
              <div class="card-body px-0 py-0">
                <table class="table table-striped table-info mb-0">
                    <thead>
                        <tr class="text-center">
                            <th class="col-2" scope="col">Наименование</th>
                            <th class="col-3" scope="col">Заполненность</th>
                            <th class="col-3" scope="col">Cтатус отображения</th>
                            <th class="col-1" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}

                            <tr class="{% if not object|getemptyfields|cutbrackets %}table-info{% else %}table-light{% endif %}">

                                <td><p>{{ object.category_name }}</p></td>

                                <td>{% if object|getemptyfields %}<p><strong class="text-danger">Заполните поля: </strong>{{ object|getemptyfields|cutbrackets }}</p>
                                    {% else %}<p><strong>В категории все заполнено</strong></p>
                                    {% endif %}</td>

                                <td>{% if object|checkexistproduct == False %}
                                    <p class="text-danger">Нет продуктов. Категория не отображается в разделе блога</p>
                                    {% else %}
                                    <p>Есть продукты. Категория отображается в <a class="dark-link" href="{% url 'catalog:category_with_products' object.slug %}">разделе продуктов</a></p>
                                    {% endif %}
                                    {% if object|checkexistpost == False %}
                                    <p class="text-danger">Нет статей. Категория не отображается в разделе блога</p>
                                    {% else %}
                                    <p>Есть статьи. Категория отображается в <a class="dark-link" href="{% url 'catalog:category_with_posts' object.slug %}">разделе блога</a></p>
                                    {% endif %}
                                </td>

                                <td>
                                    <div class="row">
                                        <div class="col-12">
                                            <a class="img-fluid" href="{% url 'catalog:update_category' object.pk %}"><img class="img-fluid" src="{% static "img/update.png" %}" title="Редактировать продукт"></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>

    {% elif request|is_mobile %}

        {% include 'users/includes/menu_profile_for_mobile.html' %}

        <div class="card border-0 mx-3 mb-5">
                <div class="card-header text-center px-0 py-0">
                    <div class="row text-bg-success px-0 mx-0">
                        <div class="col-12">
                            <nav class="nav flex-column">
                                <ul class="nav nav-tabs pt-2 pb-0">
                                      <li class="nav-item">
                                        <a class="nav-link white-link" href="{% url 'users:user_posts' %}">Публикации</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{% url 'users:categories_for_content_manager' %}"><strong>Категории</strong></a>
                                      </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-12">
                            <a class="p-1 btn btn-outline-light w-50 my-2" href="{% url 'catalog:create_category' %}"><strong><img class="img-fluid" src="{% static "img/plus.png" %}">   Категория</strong></a>
                        </div>
                    </div>
                </div>
                {% if object_list %}
              <div class="card-body px-0 py-0">
                <table class="table table-striped table-info mb-0 pb-0">
                    <tbody>
                        {% for object in object_list %}
                            <tr class="table-info">
                                <td>
                                    <div class="row">
                                        <div class="col-10">
                                            <p><strong>{{ object.category_name }}</strong></p>
                                        </div>
                                        <div class="col-2">
                                            <a class="img-fluid" href="{% url 'catalog:update_category' object.pk %}"><img src="{% static "img/update.png" %}" title="Редактировать категорию"></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-light">
                                <td>{% if object|getemptyfields %}<p><strong class="text-danger">Заполните поля: </strong>{{ object|getemptyfields|cutbrackets }}</p>
                                    {% else %}<p class="text-success"><strong>В категории все заполнено</strong></p>
                                    {% endif %}</td>
                            </tr>
                            <tr class="table-light">
                                <td>
                                    {% if object|checkexistproduct == False %}
                                    <p class="text-danger">Нет продуктов. Категория не отображается в разделе блога</p>
                                    {% else %}
                                    <p>Есть продукты. Категория отображается в <a class="dark-link" href="{% url 'catalog:category_with_products' object.slug %}">разделе продуктов</a></p>
                                    {% endif %}
                                    {% if object|checkexistpost == False %}
                                    <p class="text-danger">Нет статей. Категория не отображается в разделе блога</p>
                                    {% else %}
                                    <p>Есть статьи. Категория отображается в <a class="dark-link" href="{% url 'catalog:category_with_posts' object.slug %}">разделе блога</a></p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        {% endif %}

    {% endif %}

    <script>src="{% static 'js/bootstrap.min.js' %}"</script>

{% endblock %}



