{% extends 'catalog/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-12"></div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-4 box-shadow border-warning text-center">
                    <div class="card-header text-bg-warning">
                    <h2>Смена пароля</h2>
                </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <p><label for="id_old_password">{{ form.old_password.label }}</label>
                            <input class="form-control form-control-sm" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password"></p>
                            <div class="form-error text-danger">{{  form.old_password.errors }}</div>

                            <p><label for="id_new_password1">{{ form.new_password1.label }}</label>
                            <input class="form-control form-control-sm" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"></p>
                            <div class="form-error text-danger">{{  form.new_password1.errors }}</div>

                            <p><label for="id_new_password2">{{ form.new_password2.label }}</label>
                            <input class="form-control form-control-sm" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"></p>
                            <div class="form-error text-danger">{{  form.new_password2.errors }}</div>
                            <div class="card-footer border-0">
                                <button class="btn btn-outline-success w-50" type="submit"><strong>Сохранить</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}