{% extends 'catalog/base.html' %}

{% block content %}

<head>
  <title>Подтвердите почту</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<div style="min-height:50vh" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3 class="display-4">Подтвердите почту</h3>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12"></div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <p class="lead">На Вашу почту выслано письмо для подтверждения регистрации.
                Пожалуйста, проверьте почту и перейдите по ссылке в письме</p>
        </div>
    </div>
</div>

{% endblock %}