{% extends 'catalog/base.html' %}
{% block content %}

    <head>
      <title>Редактирование анкетных данных</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-12"></div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="card border-warning mb-4 box-shadow text-center border-warning">
                    <div class="card-header text-bg-warning py-0">
                        <h5>Редактирование анкетных данных</h5>
                    </div>
                    <div class="card-body mb-3">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="card-footer border-0">
                                <button class="btn btn-outline-success w-50" type="submit"><strong>Сохранить</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}