{% extends 'catalog/base.html' %}
{% block content %}
    {% load user_agents %}

    <head>
      <title>Авторизация на сайте Skystore</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-12"></div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card border-warning mb-4 box-shadow text-center border-warning mx-3">
                    <div class="card-header text-bg-warning py-1">
                        <h3>Авторизация в сервисе</h3>
                    </div>
                    <div class="card-body mx-3 px-4">
                        <form method="post">
                            {% csrf_token %}
                                <label class="form-label" for="id_username">{{ form.username.label }}</label>
                                <input type="text" class="form-control form-control-sm mb-4" name="username" autofocus="" autocapitalize="none" autocomplete="email" maxlength="254" required="" id="id_username">
                                <div class="form-error text-danger">{{  form.username.errors }}</div>

                                <label class="form-label" for="id_password">Пароль: </label>
                                <input type="password" class="form-control form-control-sm mb-4" name="password" autocomplete="current-password" required="" id="id_password">
                               <div class="form-error text-danger">{{  form.password.errors }}</div>

                                <button class="btn btn-outline-success mb-3 text-center w-75" type="submit"><strong>Авторизация</strong></button>
                                <p>У Вас нет аккаунта?  <a class="link-primary" href="{% url 'users:register' %}">Регистрация</a><br>
                                Забыли пароль?  <a class="link-primary" href="{% url 'users:reset_password' %}">Восстановить</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}