{% extends 'catalog/base.html' %}

{% load user_agents %}

{% block content %}

<head>
  <title>Хотите заказать пакет PushTop?</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<div style="min-height:50vh" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3 class="display-4">Хотите заказать пакет PushTop?</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="lead">
                    {% if not user.trials_update_range_prod %}
                        <strong>У Вас больше нет попыток апдейта рейтинга продуктов.</strong>
                    {% else %}
                        Хотите заказать пакет попыток апдейта рейтинга продуктов?
                    {% endif %}
                    Нажмите на кнопку "Заказать"
                    и мы отправим Вам на почту тарифную сетку пакета PushTop и ссылку на оплату. После оплаты пакет
                    попыток апдейта рейтинга любого Вашего продукта будет загружен в Ваш профиль</p>
                 <form method="post">
                  {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <button type="submit" class="p-2 btn btn-outline-success {% if not request|is_mobile %}w-75{% else %}w-100{% endif %}">
                                <strong>Заказать</strong>
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <a class="p-2 btn btn-outline-primary {% if not request|is_mobile %}w-75{% else %}w-100{% endif %}" href="{% url 'users:user_products' %}">
                                <strong>В профиль</strong>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}