{% extends 'catalog/base.html' %}

{% block content %}

    <head>
      <title>Бан-разбан статьи</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <div class="row text-center">
        <div class="col-lg-4 col-md-3 col-sm-12"></div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-4 box-shadow border-warning">
                    <div class="card-header text-bg-warning">
                    <h2>{% if object.banned == 'одобрено модератором' %}Бан статьи
                        {% else %} Разбан статьи {% endif %}</h2>
                </div>
                    <div class="card-body">
                        {% if object.banned == 'одобрено модератором' %}
                        <p>Вы действительно хотите забанить статью? "{{ object.title }}"? Принимая решение, руководствуйтесь исключительно политикой компании</p>
                            <p><strong>После бана статья по прямой ссылке будет доступна только Вам</strong></p>
                        {% else %}
                            <p>Разрешайте публикацию продукта "{{ object.title }}", если разработчик исправил все нюансы, из-за которых Вы приняли решение забанить его статью</p>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {% if object.banned == 'заблокировано модератором' %}
                                    <input type="hidden" name="reason_ban" value="Спасибо, что прислушались к нашим требованиям">
                                    {{ form.banned.errors }}
                                    <label class="form-label text-success" for="id_banned"><strong>Разбанить публикацию?</strong></label>
                                    {{ form.banned }}
                                {% endif %}

                                {% if object.banned == 'одобрено модератором' %}
                                    {{ form.banned.errors }}
                                    <label class="form-label text-danger" for="id_banned"><strong>Забанить публикацию?</strong></label>
                                    {{ form.banned }}
                                    {{ form.reason_ban.errors }}
                                    <label class="form-label small" for="id_reason_bun">{{ form.reason_ban.label }}</label>
                                    {{ form.reason_ban }}
                                    <span class="helptext">{{ form.reason_ban.help_text }}</span>
                                {% endif %}
                            <div class="card-footer border-0">
                                <div class="row">
                                        {% if object.banned == 'одобрено модератором' %}
                                            <div class="col-6"><button class="btn btn-outline-danger w-100" type="submit"><strong>Сохранить</strong></button></div>
                                        {% else %}
                                            <div class="col-6"><button class="btn btn-outline-success w-100" type="submit"><strong>Сохранить</strong></button></div>
                                         {% endif %}
                                    {% if request.META.HTTP_REFERER %}
                                        <div class="col-6">
                                            <a class="btn btn-outline-primary w-100" href="{{ request.META.HTTP_REFERER }}"><strong>Отмена</strong></a>
                                        </div>
                                    {% else %}
                                        <div class="col-6">
                                            <a class="btn btn-outline-primary w-100" href="{% url 'users:user_posts' %}"><strong>Отмена</strong></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}