{% extends 'catalog/base.html' %}

{% block content %}

    <head>
      <title>Бан-разбан статьи</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-12">
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card my-5 box-shadow border-warning mx-3">
                <div class="card-header text-bg-warning py-1 text-center">
                    <h3>{% if object.banned == 'одобрено модератором' %}Бан статьи
                        {% else %} Разбан статьи {% endif %}</h3>
                </div>
                <div class="card-body">
                    {% if object.banned == 'одобрено модератором' %}
                    <p>Хотите забанить статью? "{{ object.title }}"?
                        Принимая решение, руководствуйтесь исключительно политикой компании.</p>
                        <p><strong>После бана статья будет доступна только Вам</strong></p>
                    {% else %}
                        <p>Разрешайте публикацию статьи "{{ object.title }}", если разработчик устранил
                            все нюансы, из-за которых Вы приняли решение забанить его статью.</p>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {% if object.banned == 'заблокировано модератором' %}
                            <input type="hidden" name="reason_ban" value="Спасибо, что прислушались к нашим требованиям">
                            <div class="mx-2">{{ form.banned.errors }}
                            </div>
                            <div class="px-2">
                                <label class="form-label text-success" for="id_banned">
                                    <strong>Разбанить публикацию?</strong>
                                </label>
                            </div>
                            <div class="mb-4 px-2">{{ form.banned }}
                            </div>
                        {% endif %}

                        {% if object.banned == 'одобрено модератором' %}
                            <div class="mx-2">{{ form.banned.errors }}
                            </div>
                            <div class="px-2">
                                <label class="form-label text-danger" for="id_banned">
                                    <strong>Забанить публикацию?</strong>
                                </label>
                            </div>
                            <div class="mb-4 px-2">{{ form.banned }}
                            </div>
                            <div class="mx-3">{{ form.reason_ban.errors }}
                            </div>
                            <div class="px-2">
                                <label class="form-label small" for="id_reason_bun">{{ form.reason_ban.label }}</label>
                            </div>
                            <div class="px-2">{{ form.reason_ban }}
                            </div>
                            <div class="mx-3">
                                <span class="mb-4 helptext">{{ form.reason_ban.help_text }}</span>
                            </div>
                        {% endif %}
                        <div class="card-footer border-0 px-0 py-0 bg-transparent mt-4 text-center">
                            <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-outline-success w-75" type="submit">
                                            <strong>Сохранить</strong>
                                        </button>
                                    </div>
                                {% if request.META.HTTP_REFERER %}
                                    <div class="col-6">
                                        <a class="btn btn-outline-primary w-75" href="{{ request.META.HTTP_REFERER }}">
                                            <strong>Отмена</strong>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="col-6">
                                        <a class="btn btn-outline-primary w-75" href="{% url 'users:user_posts' %}">
                                            <strong>Отмена</strong>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}