{% extends 'catalog/base.html' %}

{% block content %}

    <div class="row text-center">
        <div class="col-lg-4 col-md-3 col-sm-12"></div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-4 box-shadow border-warning">
                    <div class="card-header text-bg-warning">
                    <h2>Восстановление пароля</h2>
                </div>
                    <div class="card-body">

                        {% if user_auth == True %}
                        <p>Вы уже авторизованы! Если Вы хотите сменить пароль, перейдите по ссылке
                        <a class="link-primary" href="{% url 'users:change_password' %}"><strong>Сменить пароль</strong></a></p>

                            {% else %}
                        <p>Введите почту, указанную при регистрации и мы отправим на нее автоматически сгенерированный пароль</p>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="email" name="email" maxlength="254" class="form-control" required="" id="id_email">
                             <div class="form-error text-danger">{{ form.email.errors }}</div>
                            <div class="card-footer border-0">
                                <div><button class="btn btn-outline-success w-50" type="submit"><strong>Отправить</strong></button></div>
                                 <div class="mb-3">  </div>
                                <div class="mb-3">
                                    <p>У Вас нет аккаунта?  <a class="link-primary" href="{% url 'users:register' %}">Регистрация</a></p>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}