{% extends 'catalog/base.html' %}

{% block content %}

    <head>
      <title>Спасибо за обратную связь!</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <div style="min-height:50vh" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3 class="display-4">Спасибо за обратную связь!</h3>
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12"></div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="lead">Наши менеджеры скоро свяжутся с Вами и ответят на все Ваши вопросы и пожелания</p>
                <a class="p-2 btn btn-outline-success w-50" href="{% url 'catalog:home' %}"><strong>Вернуться на главную</strong></a><br>
            </div>
        </div>
    </div>

{% endblock %}