{% extends 'catalog/base.html' %}

{% block content %}

    {% load static %}
    {% load catalog_tags %}

    <head>
      <title>{% if object.meta_title_for_posts %}{{ object.meta_title_for_posts }}
      {% else %}Статьи IT-разработчиков категории '{{ object.category_name }}' {% endif %}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="description" content={{ object.meta_description_for_products }}>
        <meta name="Keywords" content={{ object.keywords_for_products }}>
    </head>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{% if object.category_h1_for_posts %} {{ object.category_h1_for_posts }}
                            {% else %} Статьи категории "{{ object.category_name }}" {% endif %}</h1>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12"></div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <p class="lead">{% if object.annotation_for_posts %}
                            {% autoescape off %}{{ object.annotation_for_posts }}{% endautoescape %}
                            {% endif %}</p>
        </div>
    </div>
</div>

<main class="content">
    <div class="container">
    <div class="card border-0">
    <div class="card-header border-0 bg-transparent">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <h5><strong>Всего: {{ count_posts }}</strong></h5>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 text-start mb-3">
                {% include 'catalog/includes/categories_for_posts.html' %}
            </div>
        </div>
    </div>
        <div class="row">
            {% for object in posts %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card text-bg-dark border-warning mb-4">
                    <div class="wrapper-post exmpl">
                        <img  class="card-img bg-post-preview" src="{% if object.picture %}{{ object.picture.url }}
                                                                {% else %}{% static "img/post-no-image.jpg" %}
                                                                {% endif %}">
                     </div>
                     <a class="img-fluid" href="{{ object.get_absolute_url }}">
                         <div class="card-img-overlay post-white-link">
                             <h5 class="card-title">{{ object.title }}</h5>
                             <p>{{ object.create_at.date }}
                             </p>
                         </div>
                     </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% include 'catalog/includes/pagination.html' %}

    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12">
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                {% if category.description_for_posts %}
                    {% autoescape off %}{{ category.description_for_posts }}{% endautoescape %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</main>


<script src="{% static 'js/prod_filter.js' %}"></script>
{% endblock %}