{% extends 'catalog/base.html' %}

{% block content %}

    <head>
      <title>Удаление продукта</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

<div class="container">
    <div class="row text-center">
        <div class="col-lg-4 col-md-3 col-sm-12"></div>
            <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow border-warning">
            <div class="card-header text-bg-warning">
                <h4 class="my-0 font-weight-normal">Удаление продукта</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Вы действительно хотите удалить продукт</p>
                    <p>"{{ object.product_name }}" ? Отменить удаление будет невозможно!</p>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6"><button class="btn btn-outline-danger w-100" type="submit"><strong>Удалить</strong></button></div>
                            <div class="col-6"><a class="btn btn-primary w-100" href="{% url 'users:user_products' %}"><strong>Отмена<</strong></a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}