{% extends 'catalog/base.html' %}

{% block content %}

<head>
  <title>Форма категории - создание и редактирование</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{ form.media }}
</head>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-12">
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card box-shadow border-warning my-5">
                <div class="card-header text-bg-warning text-center py-1">
                    {% if object %}
                    <h3>Редактирование категории "{{ object.category_name }}"</h3>
                    {% else %}
                    <h3>Создание категории</h3>
                    {% endif %}
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="card-footer border-0 px-0 py-0 bg-transparent text-center">
                            <button class="btn btn-outline-primary w-50" type="submit">
                                <strong>Сохранить</strong>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}