<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% extends 'catalog/base.html' %}

    {% load static %}

{% block content %}

<div class="container">
    <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="card mb-3 border-warning">
            <img  class="card-img-top" src="{% if object.picture %}{{ object.picture.url }}{% else %}{% static "img/post-no-image.jpg" %}{% endif %}" alt="...">
            <div class="card-body">
                <h1 class="card-title">{{ object.title }}</h1>
                <p class="card-text"><small class="text-muted">Дата публикации {{ object.create_at.date }}<br>
                Количество просмотров: {{ object.count_views }}</small></p>
                {% if user.is_authenticated and object.user.pk == user.pk or perms.catalog.management_posts %}
                <p class="card-text"><small class="text-muted">Изменено: {{ object.change_at }}</small></p>
                {% endif %}
                <p class="card-text">{{ object.content | linebreaks }}</p>
                {% if user.is_authenticated and object.user.pk == user.pk or perms.catalog.management_posts %}
                <div class="container">
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <a class="p-1 btn btn-outline-primary w-100" href="{% url 'catalog:update_post' object.pk %}"><strong>Изменить</strong></a>
                            </div>
                            {% if not perms.catalog.management_posts  %}
                            <div class="col-6">
                                <a class="p-1 btn btn-outline-danger w-100" href="{% url 'catalog:delete_post' object.pk %}"><strong>Удалить</strong></a>
                            </div>
                                {% endif %}
                        {% if perms.catalog.management_posts %}
                            <div class="col-6 text-center">
                            {% if object.banned == 'одобрено модератором' %}
                                <a class="p-1 btn btn-outline-danger w-100" href="{% url 'users:post-ban' object.pk %}"><strong>Забанить</strong></a>
                            {% else %}
                                <a class="p-1 btn btn-outline-success w-100" href="{% url 'users:post-ban' object.pk %}"><strong>Разбанить</strong></a>
                            {% endif %}
                            </div>
                        {% endif %}
                            <div class="col-12">
                                <p><strong>Изменяя публикацию, смотрите, как она отражается на странице блога
                                    - это поможет сделать ее более привлекательной для посетителей портала</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
        {% if not user.is_authenticated or not user.email == object.user.email %}
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card mb-4 box-shadow text-center border-warning">
                    <div class="card-header text-bg-warning">
                        <h4 class="my-0 font-weight-normal">Задать вопрос автору</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="" class="form-floating">
                            {% csrf_token %}
                            <input type="hidden" name="post" value="{{ object.title }}">
                            <input type="hidden" name="post_owner" value="{{ object.user.email }}">
                            {{ form.as_p }}
                            <div class="card-footer border-0">
                                <button type="submit" class="btn btn-lg btn-block btn-outline-success w-75"><strong>Отправить</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
         </div>
    </div>

{% endblock %}
